/* Define your purple button styles */
.custom-button {
  background-color: #0E86D4; /* Set the background color to purple */
  color: white; /* Set the text color to white */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none; /* Remove the button border */
  border-radius: 5px; /* Add rounded corners */
  text-decoration: none; /* Remove the default link underline */
  cursor: pointer; /* Change cursor on hover */
}

/* Hover effect (optional) */
.custom-button:hover {
  background-color: #0E86D4; /* Change the background color on hover */
}



