<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Капустинский центр современного искусства</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    {% include "includes/header.html" %}
    <div class="d-flex flex-column min-vh-100">
        <div class="container pt-5 flex-grow-1">
            {% block content %}{% endblock %}
        </div>
        {% include "includes/footer.html" %}
    </div>
    {% bootstrap_javascript %}


</body>
</html>