{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="about-page">
    <h1>{% trans "О Нас" %}</h1>
    <p>
        {% trans "Мы - не просто группа людей, мы - сообщество единомышленников, которые нашли в творчестве и самовыражении свой путь к самовыражению и изменению мира. Наша история началась с общей страсти к искусству, и с тех пор мы стремимся расширить горизонты этой страсти и поделиться ею с другими." %}
    </p>
    <p>
        {% trans "Мы верим в силу совместной и органичной деятельности. У нас нет лидеров и последователей, у нас есть участники и соучастники. Создание среды, где каждый имеет голос, где идеи развиваются в диалоге, а решения принимаются на основе равноправия - это то, что нас объединяет. Мы ценим разнообразие и внимательно слушаем друг друга, исключая иерархию и принуждение из нашей повседневной жизни." %}
    </p>
    <p>
        {% trans "Центр современного искусства, где мы находимся, для нас не является ограничивающей структурой, а скорее источником вдохновения. Мы поддерживаем искусство во всех его проявлениях и, возможно, иногда используем юмор и сатиру, чтобы выразить наши взгляды на систему искусства. Мы не боимся вызывать дискуссии и давать новый смысл искусству." %}
    </p>
    <p>
        {% trans "Мы стремимся к влиянию и хотим, чтобы наше сообщество стало значимой силой в мире искусства. Наша миссия - вдохновлять и быть вдохновленными, вызывать вопросы и искать ответы, менять мир и самих себя." %}
    </p>
</div>
{% endblock %}
