{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="about-page">
    <h1>{% trans "Остров Нега" %}</h1>
    <p>
        {% trans "Остров Нега был открыт 23 июля 2022 года группой художников." %}
    </p>
    <p>
        {% trans "Остров Нега является составной частью Капустинского центра современного искусства, экспериментальным, художественным пространством и заповедником под открытым небом. Здесь проводятся выставки, театральные представления, съёмки фильмов, концерты и другие мероприятия культуры и искусства." %}
    </p>
    <p>
        {% trans "Попадая на остров Нега во время мероприятия вы можете присоединиться к зрителям или участникам, по возможности, не нарушая правил приличия и уважения. Если вы посетите остров Нега в момент отсутствия мероприятия просим относиться к природе острова с уважением. Если вы будете пользоваться предметами, оставленными художниками, то вы их не можете забирать с собой и должны оставить в чистом виде и в рабочем состоянии. Относитесь к бытовым и художественным объектам острова с почтением. Не разжигайте костёр без особой необходимости. Если же это случилось не забудьте затушить его водой." %}
    </p>
    <p>
        {% trans "Проследите чтобы после вашего посещения на острове не оставался мусор. Мы верим в то, что большинство людей на Планете разделяют наши взгляды и готовы к разумному и гармоничному существованию." %}
    </p>
</div>
{% endblock %}
