{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>О нас</h1>
        <p>Добро пожаловать на страницу "О нас" нашего арт-блога. Мы - группа талантливых художников,
            страстно преданная искусству. Наша цель - делиться нашими творческими идеями и вдохновением
            с миром. В этом разделе вы найдете информацию о нас и наших художественных проектах.</p>
        
        <h2>Наша Команда</h2>
        <ul>
            <li>Иван Иванов - Художник и основатель</li>
            <li>Елена Петрова - Иллюстратор</li>
            <li>Алексей Смирнов - Фотограф</li>
        </ul>
        
        <h2>Наши Проекты</h2>
        <p>Здесь мы представляем некоторые из наших проектов:</p>
        <ul>
            <li>Проект "Абстрактные Миры" - коллекция абстрактных картин</li>
            <li>Фотогалерея "Природа в объективе" - природные фотографии</li>
        </ul>
    </div>
{% endblock %}
