{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="contact-page">
    <h1>{% trans "Контакты" %}</h1>
    <p>
        {% trans "Если у вас есть вопросы, предложения или просто хочется связаться с нами, вы можете использовать следующие контактные данные:" %}
    </p>
    <p>
        <strong>{% trans "Адрес:" %}</strong> [Ваш адрес]<br>
        <strong>{% trans "Телефон:" %}</strong> [Ваш номер телефона]<br>
        <strong>{% trans "Электронная почта:" %}</strong> [Ваш адрес электронной почты]
    </p>

</div>
{% endblock %}
