{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="contact-page">
    <h1>{% trans "Контакты" %}</h1>
    <p>
        {% trans "Если у вас есть вопросы, предложения или просто хочется связаться с нами, вы можете использовать следующие контактные данные:" %}
    </p>
    <p>
        <strong>{% trans "Телеграм: " %}</strong><a href="https://t.me/Sergei_Katran" target="_blank">{% trans "https://t.me/Sergei_Katran" %}</a>
    </p>

    <div class="mt-4">
        <img src="{% static 'blog/cabbage_2.gif' %}" alt="Купусточка" class="img-fluid" width="300">
    </div>

</div>
{% endblock %}
