{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="container p-3 bg-purple text-center">
                <h2 class="text-white">{% trans "Капустинский центр современного искусства" %}</h2>
            </div>

            <div class="container mt-4">
                <img src="{% static 'blog/cabbage_1.gif' %}" alt="Cabbage" class="img-fluid" width="600">
            </div>

        </div>
        <div class="col-md-6">
            <p class="text-muted">{% trans "Капустинский центр современного искусства - самоорганизация художников, разделяющих любовь к современному искусству."%}</p>
            <p class="text-muted">{% trans "Мы верим в идею совместной и органичной деятельности основанной на равноправии и общем деле создания культурной среды."%}</p>
            <p class="text-muted">{% trans "Наше сообщество ценит независимость и непринужденное взаимодействие. Мы уделяем внимание разнообразию идей и творческому диалогу."%}</p>
            <p class="text-muted">{% trans "Нам близки идеи сохранения окружающей среды и существования человека в мире гармонии и любви."%}</p>
            <p class="text-muted">{% trans "Если вас привлекает идея творчества и хотите поделиться своим видением, не стесняйтесь связаться с нами."%}</p>
        </div>
    </div>
</div>


<style>
    /* Background styles for the purple container */
    .bg-purple {
        background-color: #0E86D4; /* Use your preferred shade of purple */
        border-radius: 10px;
    }

    /* Text styles for the headers */
    .text-white {
        color: #fff; /* White text color */
    }

    /* Spacing for the main content */
    .container {
        padding: 20px; /* Add some padding to the container */
    }

    /* Additional styles for the text */
    .text-muted {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
</style>
{% endblock %}
